.loading {
    font-size: 30px;
    font-weight: bold;
}
  
.title {
    color: #5C2018;
}

.input-group-append {
    right: -34px;
    position: absolute;
    z-index: 0 !important;
}

.search-button {
    left: .9vw;
}

.btn {
    background-color: #BC4639;
    color: black;
    border: solid;
    font-size: 18px;
    border-width: 2px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    z-index: 0;
}